<template>
  <div class="about">
    <h1>This is an about page</h1>
    <div>
      <v-card>
        <v-responsive :aspect-ratio="16 / 2">
          <v-card-text>
            This card will always be 16:9 (unless you put more stuff in it)
          </v-card-text>
        </v-responsive>
      </v-card>
    </div>
    <v-alert
      color="orange"
      dense
      icon="$mdiAccount"
      outlined
      prominent
      shaped
      text
      type="success"
    ></v-alert>
    <div>
      <v-alert border="top" color="red lighten-2" dark>
        I'm an alert with a top border and red color
      </v-alert>
      <v-alert border="right" color="blue-grey" dark>
        I'm an alert with a right border and blue-grey color
      </v-alert>
      <v-alert border="bottom" color="pink darken-1" dark>
        I'm an alert with a bottom border and pink color
      </v-alert>
      <v-alert border="left" color="indigo" dark>
        I'm an alert with a border left type info
      </v-alert>
    </div>
    <div>
      <v-alert
        border="left"
        colored-border
        color="deep-purple accent-4"
        elevation="2"
      >
        Aliquam eu nunc. Fusce commodo aliquam arcu. In consectetuer turpis ut
        velit. Nulla facilisi.. Morbi mollis tellus ac sapien. Fusce vel dui.
        Praesent ut ligula non mi varius sagittis. Vivamus consectetuer
        hendrerit lacus. Suspendisse enim turpis, dictum sed, iaculis a,
        condimentum nec, nisi.
      </v-alert>
      <v-alert border="top" colored-border type="info" elevation="2">
        Vestibulum ullamcorper mauris at ligula. Nam pretium turpis et arcu. Ut
        varius tincidunt libero. Curabitur ligula sapien, tincidunt non, euismod
        vitae, posuere imperdiet, leo. Morbi nec metus.
      </v-alert>
      <v-alert border="bottom" colored-border type="warning" elevation="2">
        Sed in libero ut nibh placerat accumsan. Phasellus leo dolor, tempus
        non, auctor et, hendrerit quis, nisi. Phasellus leo dolor, tempus non,
        auctor et, hendrerit quis, nisi. Sed consequat, leo eget bibendum
        sodales, augue velit cursus nunc, quis gravida magna mi a libero. Donec
        elit libero, sodales nec, volutpat a, suscipit non, turpis.
      </v-alert>
      <v-alert border="right" colored-border type="error" elevation="2">
        Fusce commodo aliquam arcu. Pellentesque posuere. Phasellus tempus.
        Donec posuere vulputate arcu.
      </v-alert>
    </div>
    <div>
      <v-alert dense type="info">
        I'm a dense alert with a <strong>type</strong> of info
      </v-alert>
      <v-alert dense text type="success">
        I'm a dense alert with the <strong>text</strong> prop and a
        <strong>type</strong> of success
      </v-alert>
      <v-alert dense border="left" type="warning">
        I'm a dense alert with the <strong>border</strong> prop and a
        <strong>type</strong> of warning
      </v-alert>
      <v-alert dense outlined type="error">
        I'm a dense alert with the <strong>outlined</strong> prop and a
        <strong>type</strong> of error
      </v-alert>
    </div>
    <div>
      <v-alert color="#2A3B4D" dark icon="mdi-firework" dense>
        Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi.
        Vivamus quis mi. Quisque ut nisi. Maecenas malesuada.
      </v-alert>
      <v-alert color="#C51162" dark icon="mdi-material-design" border="right">
        Phasellus blandit leo ut odio. Morbi mattis ullamcorper velit. Donec
        orci lectus, aliquam ut, faucibus non, euismod id, nulla. In ut quam
        vitae odio lacinia tincidunt.
      </v-alert>
      <v-alert color="primary" dark icon="mdi-vuetify" border="left" prominent>
        Praesent congue erat at massa. Nullam vel sem. Aliquam lorem ante,
        dapibus in, viverra quis, feugiat a, tellus. Proin viverra, ligula sit
        amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi
        mauris ac eros. Curabitur at lacus ac velit ornare lobortis.
      </v-alert>
    </div>
    <v-avatar color="primary" size="56">VJ</v-avatar>
    <div>
      <v-avatar color="indigo" size="36">
        <span class="white--text text-h5">36</span>
      </v-avatar>

      <v-avatar color="teal" size="48">
        <span class="white--text text-h5">48</span>
      </v-avatar>

      <v-avatar color="orange" size="62">
        <span class="white--text text-h5">62</span>
      </v-avatar>
    </div>
    <div class="text-center">
      <v-avatar tile color="blue">
        <v-icon dark> mdi-alarm </v-icon>
      </v-avatar>
    </div>
    <v-container>
      <v-row justify="space-around">
        <v-avatar color="indigo">
          <v-icon dark> mdi-account-circle </v-icon>
        </v-avatar>

        <v-avatar>
          <img src="https://cdn.vuetifyjs.com/images/john.jpg" alt="John" />
        </v-avatar>

        <v-avatar color="red">
          <span class="white--text text-h5">CJ</span>
        </v-avatar>
      </v-row>
    </v-container>
    <v-badge bottom dot left overlap>Beautify</v-badge>
    <v-toolbar>
      <v-tabs dark background-color="primary" grow>
        <v-tab>
          <v-badge color="pink" dot> Item One </v-badge>
        </v-tab>

        <v-tab>
          <v-badge color="green" content="6"> Item Two </v-badge>
        </v-tab>

        <v-tab>
          <v-badge color="deep-purple accent-4" icon="mdi-vuetify">
            Item Three
          </v-badge>
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-banner
      color="primary"
      icon="$mdiAccount"
      rounded
      single-line
      sticky
    ></v-banner>
    <div>
      <v-card>
        <v-system-bar></v-system-bar>
        <v-toolbar flat>
          <v-toolbar-title>My Document</v-toolbar-title>
          <v-spacer></v-spacer>
          <div>
            <v-switch
              v-model="sticky"
              label="Sticky Banner"
              hide-details
            ></v-switch>
          </div>
        </v-toolbar>
        <v-banner single-line :sticky="sticky">
          We can't save your edits while you are in offline mode.

          <template v-slot:actions>
            <v-btn text color="deep-purple accent-4"> Get Online </v-btn>
          </template>
        </v-banner>
        <v-card-text class="grey lighten-4">
          <v-sheet max-width="800" height="300" class="mx-auto"></v-sheet>
        </v-card-text>
      </v-card>
    </div>
    <div>
      <v-checkbox v-model="v0" label="Visible"></v-checkbox>
      <v-banner v-model="v0" single-line transition="slide-y-transition">
        No Internet connection
        <template v-slot:actions="{ dismiss }">
          <v-btn text color="primary" @click="dismiss"> Dismiss </v-btn>
          <v-btn text color="primary"> Retry </v-btn>
        </template>
      </v-banner>
    </div>
    <v-card class="overflow-hidden">
      <v-app-bar
        absolute
        color="#6A76AB"
        dark
        shrink-on-scroll
        prominent
        src="https://picsum.photos/1920/1080?random"
        fade-img-on-scroll
        scroll-target="#scrolling-techniques-3"
      >
        <template v-slot:img="{ props }">
          <v-img
            v-bind="props"
            gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)"
          ></v-img>
        </template>

        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-app-bar-title>Title</v-app-bar-title>

        <v-spacer></v-spacer>

        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-heart</v-icon>
        </v-btn>

        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>

        <template v-slot:extension>
          <v-tabs align-with-title>
            <v-tab>Tab 1</v-tab>
            <v-tab>Tab 2</v-tab>
            <v-tab>Tab 3</v-tab>
          </v-tabs>
        </template>
      </v-app-bar>
      <v-sheet
        id="scrolling-techniques-3"
        class="overflow-y-auto"
        max-height="600"
      >
        <v-container style="height: 1000px"></v-container>
      </v-sheet>
    </v-card>
    <v-breadcrumbs></v-breadcrumbs>
    <v-btn elevation="2">Button</v-btn>
    <v-btn block> Block Button </v-btn>
    <div class="text-center">
      <v-btn class="mx-2" fab dark small color="primary">
        <v-icon dark> mdi-minus </v-icon>
      </v-btn>

      <v-btn class="mx-2" fab dark small color="pink">
        <v-icon dark> mdi-heart </v-icon>
      </v-btn>

      <v-btn class="mx-2" fab dark color="indigo">
        <v-icon dark> mdi-plus </v-icon>
      </v-btn>

      <v-btn class="mx-2" fab dark color="teal">
        <v-icon dark> mdi-format-list-bulleted-square </v-icon>
      </v-btn>

      <v-btn class="mx-2" fab dark large color="cyan">
        <v-icon dark> mdi-pencil </v-icon>
      </v-btn>

      <v-btn class="mx-2" fab dark large color="purple">
        <v-icon dark> mdi-android </v-icon>
      </v-btn>
    </div>
    <v-container>
      <v-row align="center" justify="space-around">
        <v-btn depressed> Normal </v-btn>
        <v-btn depressed color="primary"> Primary </v-btn>
        <v-btn depressed color="error"> Error </v-btn>
        <v-btn depressed disabled> Disabled </v-btn>
      </v-row>
    </v-container>
    <div class="text-center">
      <v-btn
        class="ma-2"
        :loading="loading"
        :disabled="loading"
        color="secondary"
        @click="loader = 'loading'"
      >
        Accept Terms
      </v-btn>

      <v-btn
        :loading="loading3"
        :disabled="loading3"
        color="blue-grey"
        class="ma-2 white--text"
        @click="loader = 'loading3'"
      >
        Upload
        <v-icon right dark> mdi-cloud-upload </v-icon>
      </v-btn>

      <v-btn
        class="ma-2"
        :loading="loading2"
        :disabled="loading2"
        color="success"
        @click="loader = 'loading2'"
      >
        Custom Loader
        <template v-slot:loader>
          <span>Loading...</span>
        </template>
      </v-btn>

      <v-btn
        class="ma-2"
        :loading="loading4"
        :disabled="loading4"
        color="info"
        @click="loader = 'loading4'"
      >
        Icon Loader
        <template v-slot:loader>
          <span class="custom-loader">
            <v-icon light>mdi-cached</v-icon>
          </span>
        </template>
      </v-btn>

      <v-btn
        :loading="loading5"
        :disabled="loading5"
        color="blue-grey"
        class="ma-2 white--text"
        fab
        @click="loader = 'loading5'"
      >
        <v-icon dark> mdi-cloud-upload </v-icon>
      </v-btn>
    </div>
    <div class="text-center">
      <v-btn class="ma-2" outlined color="indigo"> Outlined Button </v-btn>
      <v-btn class="ma-2" outlined fab color="teal">
        <v-icon>mdi-format-list-bulleted-square</v-icon>
      </v-btn>
      <v-btn class="ma-2" outlined large fab color="indigo">
        <v-icon>mdi-pencil</v-icon>
      </v-btn>
    </div>
    <v-container fluid>
      <v-row>
        <v-col cols="12" sm="12" md="6" offset-md="3">
          <v-card>
            <v-toolbar extended>
              <v-app-bar-nav-icon></v-app-bar-nav-icon>
              <template v-slot:extension>
                <v-fab-transition>
                  <v-btn
                    v-show="!hidden"
                    color="pink"
                    fab
                    dark
                    small
                    absolute
                    bottom
                    left
                  >
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </v-fab-transition>
              </template>
            </v-toolbar>
            <v-card-text
              style="height: 300px"
              class="grey lighten-5 text-center"
            >
              <v-btn color="primary" @click="hidden = !hidden">
                {{ hidden ? "Show" : "Hide" }}
              </v-btn>
            </v-card-text>
            <v-card-text style="height: 100px; position: relative">
              <v-fab-transition>
                <v-btn
                  v-show="!hidden"
                  color="pink"
                  dark
                  absolute
                  top
                  right
                  fab
                >
                  <v-icon>mdi-plus</v-icon>
                </v-btn>
              </v-fab-transition>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-card id="lateral">
      <v-toolbar dark tabs flat color="indigo">
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
        <v-toolbar-title>Page title</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn icon>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
        <v-btn icon>
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
        <template v-slot:extension>
          <v-tabs v-model="tabs" align-with-title>
            <v-tab href="#one"> Item One </v-tab>
            <v-tab href="#two"> Item Two </v-tab>
            <v-tab href="#three"> Item Three </v-tab>
            <v-tabs-slider color="pink"></v-tabs-slider>
          </v-tabs>
        </template>
      </v-toolbar>
      <v-card-text>
        <v-tabs-items v-model="tabs">
          <v-tab-item
            v-for="content in ['one', 'two', 'three']"
            :key="content"
            :value="content"
          >
            <v-card height="200px" flat> </v-card>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>
      <v-fab-transition>
        <v-btn
          :key="activeFab.icon"
          :color="activeFab.color"
          fab
          large
          dark
          bottom
          left
          class="v-btn--example"
        >
          <v-icon>{{ activeFab.icon }}</v-icon>
        </v-btn>
      </v-fab-transition>
    </v-card>
  </div>
</template>

<script>
export default {
  data: () => ({
    v0: true,
    hidden: false,
    fab: false,
    tabs: null,
  }),
  computed: {
    activeFab() {
      switch (this.tabs) {
        case "one":
          return { color: "success", icon: "mdi-share-variant" };
        case "two":
          return { color: "red", icon: "mdi-pencil" };
        case "three":
          return { color: "green", icon: "mdi-chevron-up" };
        default:
          return {};
      }
    },
  },
};
</script>

<style>
/* This is for documentation purposes and will not be needed in your application */
#lateral .v-btn--example {
  bottom: 0;
  position: absolute;
  margin: 0 0 16px 16px;
}
</style>
