<template>
  <v-container fluid>
    <v-card>
      <v-card-title>
        {{ title }}
      </v-card-title>
      <v-data-table v-bind="$attrs" v-on="$listeners">
        <template v-for="(slot, name) in $scopedSlots" v-slot:[name]="item">
          <slot :name="name" v-bind="item" />
        </template>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
export default {};
</script>

<style></style>
