<template>
  <v-app>
    <v-list>
      <v-list-item
        v-for="item in items"
        :key="item.title"
        :to="{ path: item.link }"
        link
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <v-main>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-main>
    <v-footer app></v-footer>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data() {
    return {
      items: [
        { title: "Home", icon: "mdi-home", link: "/" },
        {
          title: "About",
          icon: "mdi-comment-question-outline",
          link: "/about",
        },
        { title: "Second", icon: "mdi-image-filter-vintage", link: "/second" },
        { title: "Third", icon: "mdi-weather-cloudy", link: "/third" },
      ],
    };
  },
};
</script>

<style lang="scss"></style>
